#
# DNF Bridge Service Configuration
#
# 桥接服务配置
# 端口: 7000
# 接受客户端和 Channel 服务器连接
#

[server]
# 本服务监听配置
max_client = 2000
this_ip = 0.0.0.0
this_tcp_port = 7000
this_udp_port = 7000

[DB]
# 数据库配置
db_ip = 127.0.0.1
db_name = taiwan_login
db_id = game
db_pwd = uu5!sset
db_port = 3306

[channel]
# Channel 服务器配置
channel_ip = 127.0.0.1
channel_port = 7001
